<table id="tablaProductos" class="table table-dark table-striped table-hover table-responsive text-center">
    <thead>
        <th>Producto</th>
        <th>Precio</th>
        <th>Imagen</th>
    </thead>
    <tbody id="cuerpoTabla">
        {{#if listaProductos}}
            {{#each listaProductos as |pr|}}
                {{#> childEntry}}
                    <tr >
                        <td width="30%"> {{pr.title}}</td>
                        <td width="25%"> {{pr.price}}</td>
                        <td width="45%"><img class="rounded mx-auto d-block" src="{{pr.thumbnail}}" width="500px" height="300px" /></td>                
                    </tr>
                {{/childEntry}}
            {{/each}}
        {{else}}
            <td colspan=3>No hay productos</td>
        {{/if}}
    </tbody>
</table>
